<h3 class="page-title">{{$state.current.data.pageTitle}}</h3>
<div class="portlet light">
	<div class="portlet-body">
        <fieldset>
            <legend>图灵机器人</legend>
            <label>问题：</label><input type="text" class='aa' ng-model='req'/>
            <button ng-click="tulingjiqiren()" type="button" class="btn green"><i class="fa fa-plus"></i>答案</button>
        </fieldset>
    </div>
    <div class="portlet-body">
        <fieldset>
            <legend>登陆模块</legend>
            <button ng-click="getMobileCode()" type="button" class="btn green"><i class="fa fa-plus"></i>获取验证码</button>
            <button ng-click="getCodetest()" type="button" class="btn green"><i class="fa fa-plus"></i>发送验证码</button>
            <button ng-click="login()" type="button" class="btn green"><i class="fa fa-plus"></i>登陆</button>
            <button ng-click="listUnit()" type="button" class="btn green"><i class="fa fa-plus"></i>机构名录联想</button>
            <button ng-click="userRegister()" type="button" class="btn green"><i class="fa fa-plus"></i>人员注册</button>
            <button ng-click="addUnit()" type="button" class="btn green"><i class="fa fa-plus"></i>加入</button>
            <button ng-click="addUnitAction()" type="button" class="btn green"><i class="fa fa-plus"></i>活动时加入</button>
            <button ng-click="unitBack()" type="button" class="btn green"><i class="fa fa-plus"></i>索回</button>
            <button ng-click="addOrgUnit()" type="button" class="btn green"><i class="fa fa-plus"></i>注册新机构</button>
        </fieldset>
    </div>
    <div class="portlet-body">
        <fieldset>
            <legend>学习资源模块</legend>
            <button ng-click="listRecommend()" type="button" class="btn green"><i class="fa fa-plus"></i>推荐课程</button>
            <button ng-click="listHot()" type="button" class="btn green"><i class="fa fa-plus"></i>热门课程</button>
            <button ng-click="listSpecial()" type="button" class="btn green"><i class="fa fa-plus"></i>专题</button>
            <button ng-click="listCoursewareByClass()" type="button" class="btn green"><i class="fa fa-plus"></i>专题id查询课程</button>
            <button ng-click="getCategory()" type="button" class="btn green"><i class="fa fa-plus"></i>分类查询</button>
            <button ng-click="listCoursewareByCategory()" type="button" class="btn green"><i class="fa fa-plus"></i>分类课程查询</button>
            <button ng-click="addCollection()" type="button" class="btn green"><i class="fa fa-plus"></i>加入选学</button>
            <button ng-click="delCollection()" type="button" class="btn green"><i class="fa fa-plus"></i>删除选学</button><hr/>
            <button ng-click="getVideo()" type="button" class="btn green"><i class="fa fa-plus"></i>获取一个视频</button>
            <button ng-click="listCollection()" type="button" class="btn green"><i class="fa fa-plus"></i>选学列表</button>
            <button ng-click="listMustLearn()" type="button" class="btn green"><i class="fa fa-plus"></i>必学列表</button>
            <button ng-click="saveStatudy()" type="button" class="btn green"><i class="fa fa-plus"></i>保存学习记录</button>
            <button ng-click="praiseOrAttention()" type="button" class="btn green"><i class="fa fa-plus"></i>点赞或关注</button>
        </fieldset>
    </div>
    <div class="portlet-body">
        <fieldset>
            <legend>好友模块</legend>
            <button ng-click="applyAddFriend()" type="button" class="btn green"><i class="fa fa-plus"></i>申请加好友</button>
            <button ng-click="getApply()" type="button" class="btn green"><i class="fa fa-plus"></i>获取加友申请</button>
            <button ng-click="agreeAddFriend()" type="button" class="btn green"><i class="fa fa-plus"></i>同意加好友</button>
            <button ng-click="delAgreeFriend()" type="button" class="btn green"><i class="fa fa-plus"></i>不同意和删除好友</button>
            <button ng-click="getFriendRanking()" type="button" class="btn green"><i class="fa fa-plus"></i>获取好友排行</button>
            <button ng-click="getFirendInformation()" type="button" class="btn green"><i class="fa fa-plus"></i>排行榜点击好友</button>
        </fieldset>
    </div>
    <div class="portlet-body">
        <fieldset>
            <legend>课程模块</legend>
            <button ng-click="coursewareComment()" type="button" class="btn green"><i class="fa fa-plus"></i>课程简介</button>
            <button ng-click="listClassFAQ()" type="button" class="btn green"><i class="fa fa-plus"></i>获取评论信息</button>
            <button ng-click="addClassFAQ()" type="button" class="btn green"><i class="fa fa-plus"></i>获取评论信息</button>
        </fieldset>
    </div>
    <div class="portlet-body">
        <fieldset>
            <legend>我的模块</legend>
            <button ng-click="listStudy()" type="button" class="btn green"><i class="fa fa-plus"></i>获取学习记录</button>
            <button ng-click="listStudyClass()" type="button" class="btn green"><i class="fa fa-plus"></i>获取专题学档</button>
            <button ng-click="listStudytime()" type="button" class="btn green"><i class="fa fa-plus"></i>获取学习分钟数</button>
            <button ng-click="getInitEvaluate()" type="button" class="btn green"><i class="fa fa-plus"></i>获取评分项</button>
            <button ng-click="addEvaluate()" type="button" class="btn green"><i class="fa fa-plus"></i>插入评分信息</button>
            <button ng-click="listEvaluate()" type="button" class="btn green"><i class="fa fa-plus"></i>查看评分信息</button>
            <button ng-click="listNoteByAccountid()" type="button" class="btn green"><i class="fa fa-plus"></i>获取所有笔记</button>
        </fieldset>
    </div>
     <div class="portlet-body">
        <fieldset>
            <legend>党员模块</legend>
            <button ng-click="addPartyMemberAuth()" type="button" class="btn green"><i class="fa fa-plus"></i>插入党员审核</button>
            <button ng-click="partyMemberAuth()" type="button" class="btn green"><i class="fa fa-plus"></i>查询党员审核</button>
            <button ng-click="listPartyMemberAuthLog()" type="button" class="btn green"><i class="fa fa-plus"></i>查询党员审核记录日志</button>
            <button ng-click="applyPartyMemberAuth()" type="button" class="btn green"><i class="fa fa-plus"></i>党员接口整合</button>
        </fieldset>
    </div>
    <div class="portlet-body">
        <fieldset>
            <legend>党员名册</legend>
            <button ng-click="adddymc()" type="button" class="btn green"><i class="fa fa-plus"></i>新增党员</button>
            <button ng-click="updatedymc()" type="button" class="btn green"><i class="fa fa-plus"></i>修改党员</button>
            <button ng-click="listjl()" type="button" class="btn green"><i class="fa fa-plus"></i>查询记录</button>
        </fieldset>
    </div>
    
    <div class="portlet-body">
        <fieldset>
            <legend>假数据</legend>
            <button ng-click="listBaspeak()" type="button" class="btn green"><i class="fa fa-plus"></i>预约</button>
        </fieldset>
    </div>

    <div class="portlet-body">
        <fieldset>
            <legend>浦东爱党建</legend>
            <button ng-click="listDepts()" type="button" class="btn green"><i class="fa fa-plus"></i>获取党组织列表</button>
            <button ng-click="listDeptByCategory()" type="button" class="btn green"><i class="fa fa-plus"></i>获取街道级党组织信息</button>
            <button ng-click="listDeptByFid()" type="button" class="btn green"><i class="fa fa-plus"></i>获取街道下级党组织信息</button>
            <button ng-click="listConcenterAddress()" type="button" class="btn green"><i class="fa fa-plus"></i>获取党建服务中心列表</button>
            <button ng-click="getConcenterAddressById()" type="button" class="btn green"><i class="fa fa-plus"></i>获取一个党建服务中心</button>
            <button ng-click="listSpecialtys()" type="button" class="btn green"><i class="fa fa-plus"></i>特长列表</button>
            <button ng-click="listDeptForNear()" type="button" class="btn green"><i class="fa fa-plus"></i>附近的党组织</button>
            <button ng-click="registUpdataUserAndAccount()" type="button" class="btn green"><i class="fa fa-plus"></i>注册修改机构id</button>
           
            <button ng-click="registUpdataUserNeedAndSpecialty()" type="button" class="btn green"><i class="fa fa-plus"></i>报到</button>
<button ng-click="userExamine()" type="button" class="btn green"><i class="fa fa-plus"></i>审核</button>
<button ng-click="listServiceStation()" type="button" class="btn green"><i class="fa fa-plus"></i>党建服务站</button>
        </fieldset>
    </div>
</div>